<h2>
<form method="POST" action="/pirates">
<label>Pirate name: <input type="text" name="pirate[name]"></label><br>
<label>Pirate weight: <input type="text" name="pirate[weight]"></label><br>
<label>Pirate height: <input type="text" name="pirate[height]"></label><br>
<br>
<label>Ship one name: <input id="ship_name_1" type="text" name="pirate[ships][][name]"></label><br>
<label>Ship one type: <input id="ship_type_1" type="text" name="pirate[ships][][type]"></label><br>
<label>Ship one booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]"></label><br>
<br>
<label>Ship two name: <input id="ship_name_2" type="text" name="pirate[ships][][name]"></label><br>
<label>Ship two type: <input id="ship_type_2" type="text" name="pirate[ships][][type]"></label><br>
<label>Ship two booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></label><br>
<br>

<input type="submit" name="submit" value="Submit">
</form>

</h2>
